{% extends "userManage/header.html" %}

{% block content %}      

{% load crispy_forms_tags %}

    <p class="text-left">
        This is a crowd-sourcing system for validating retrogressive thaw slumps or thermokarst landslides identified from over 200 TB of ArcticDEM using deep learning.
        Retrogressive thaw slump is a type of permafrost thawing, which is causing concerns because it changes
        local environment and affects northern communities, ecosystems, and global carbon feedback. <br>
        Please find details at
        <a href=https://yghlc.github.io/validate-thaw-slump/>Link.</a>
    </p>
    <p class="text-left">
       No registration or password is required. Please input your email and make sure it's correct, so we can keep you updated on this dataset and system.
    </p>

<!--Login-->
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
         <!-- email field -->
        <label for="id_login">Email:</label>
        <input id="id_login" name="login_email" type="email" >

    <button class="btn btn-primary" type="submit">Login</button>
  </form>
{#  <p class="text-center">Don't have an account? <a href="register">Create an account</a>.</p>#}
</div>

    <p>
        The system is maintained by <a href=https://cires.colorado.edu/visiting-fellow/lingcao-huang>Lingcao Huang.</a>
    </p>

{% endblock %}
